.menu{
    /* background-color: cadetblue; */

    display: flex;  
    gap: 15px;
    list-style: none;
    padding: 10px;
}

.menu-list{
    color: blue;
    padding: 3px;
}
.menu-list:hover{
    /* background-color: black;
    color: white; */
    border-bottom:1px solid white ;
    cursor: pointer;
}

.dropdown{
    display:none;
}
.open-dropdown:hover .dropdown{
    display: block;

}

