 #main-banner{
    background-image: url("./img/Banner_Image.png");
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
}

#main-banner>h1{
    text-align: center;
    color: white;
    font-size: 75px;
    padding-top: 110px;
}

    /* off-deals */
#off-deals>h1{
    font-size: 58px;
    color:red ;
}
#off-deals{
    text-align: center;
    padding-top: 10px;
}
#off-deals>img{
    width: 600px;
    padding-top: 50px;
}

 /* Midnight Party */

 #Party{
    background-image: url("./img/Vectorrr.png");
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    
 }
 #Party>h1{
    font-size: 75px;
    color: white;
    padding: 150px 50px 50px 300px;
 }
 #bg, #subscribe{
    text-align: center;
    background-color: pink;
    margin: 30px 285px;
    padding: 120px;
    font-size: 35px;
    border-radius: 20px;
 }

   /* subscribe */
   #subscribe{
    background-color: aqua;

}
#input-fild>input,button{
    height: 34px;
}

#input-fild>input{
    height: 30px;
    width: 250px;
}

#input-fild>button{
    background-color: red;
    height: 30px;
}

   /* futter scation */

   footer{
    background-color: black;
    color: white;
    margin: 0%;
    height: 250px;
    padding-top: 100px;
   }
   footer>ul{
    margin-left: 47%;
    font-size: 20;
   }
   footer>h3{
    text-align: center;
   }
   body{
    background-color:rgb(199, 199, 199);
   }